.notebookColl {
    height: max-content;
    justify-content: space-between !important;
}

.bookArrange {
    /* background-color: rgba(255, 94, 94, 0.377); */
    min-height: 68vh;
    justify-content: center;
}

.mainContent {}